.footer{
    background: url(./image/footer.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    &__title{
        color: rgb(0, 0, 0);
        font-size: 24px;
        font-weight: 600;
        line-height: 29px;
        text-align: center;
    }
    
}