@import 'header','footer','content','cart','product','_gamecart','game1','game2';

*{
  margin: 0;
  padding: 0;
}
body{
  font-family: "Montserrat", sans-serif;
}
html {
  scroll-behavior: smooth;
}
.center{
  padding-left: calc(50% - 600px);
    padding-right: calc(50% - 600px);
}
a{
  text-decoration: none;
}
@import 'tablet','mobile';